@page "/SalesLogs"
@using EventCachingDemo.Shared.Queries
@inject HttpClient Http

<h3>Sales Logs</h3>

@if (_salesLogs == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <form>
        <label>
            Agent:
            <select @bind="@_salesAgentId">
                <option value=""></option>
                @foreach (var agent in _salesAgents!)
                {
                    <option value="@agent.SalesAgentId">@agent.FullName</option>
                }
            </select>
        </label>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Agent</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var salesLog in _salesLogs)
        {
            <tr>
                <td>@salesLog.DayOfSale.ToLocalTime()</td>
                <td>@salesLog.SalesAgent</td>
                <td>@salesLog.Product</td>
                <td>@salesLog.Quantity</td>
                <td>@salesLog.Price</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Guid _salesAgentId;
    private IList<SalesAgentDto>? _salesAgents;
    private IList<SalesLogDto>? _salesLogs;

    protected override async Task OnInitializedAsync()
    {
        _salesLogs = await HttpClient.SendAsync(new SalesLogQuery());
        _salesAgents = await HttpClient.SendAsync(new SalesAgentsQuery());
    }

}